.footer {
    &__container {
        margin-bottom: 96px;
        display: grid;
        grid-template-columns: 44% 1fr 1fr 1fr;
    }

    &__list-text {
        padding-right: 220px;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__title {
        font-family: "DM Sans", "Arial", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 31px;
        color: #1A1A1A;
    }

    &__text {
        font-family: "DM Sans", "Arial", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #5A5A5A;
    }

    &__social-block {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        display: block;
        width: 48px;
        height: 48px;
        background: #EDFFDD;
        border-radius: 4px;
        margin-bottom: 5px;

        &:not(:last-child) {
            margin-right: 16px;
        }

        &:hover {
            background: #c6d1bc;
        }

        &:focus {
            border: 1px solid #1A1A1A;
        }
    }

    &__link-facebook {
        padding: 13px 18px;
    }

    &__link-twitter {
        padding: 15px 13px;
    }

    &__link-instagram {
        padding: 14px;
    }

    &__item-link {
        font-family: "DM Sans", "Arial", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #5A5A5A;

        &:hover {
            opacity: .5;
        }

        &:focus {
            border-bottom: 1px solid #1A1A1A;
        }
    }
}

@media (max-width: $laptop) {
    .footer {
        &__container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &__list-text {
            padding-right: 50px;
        }
    }
}

@media (max-width: $tablet) {
    .footer {
        &__container {
            grid-template-columns: 1fr 1fr;
        }

        &__list-text {
            padding-right: 20px;
        }
    }
}

@media (max-width: $mobile-l) {
    .footer {
        &__container {
            grid-template-columns: 1fr;
        }
    }
}