.banner {

    &__container {
        display: grid;
        grid-template-columns: 45% 1fr;
        padding: 0px 40px 0px 144px;
    }

    &__text-block {
        padding: 96px 0px 0px 0px;
        max-width: 548px;
        position: relative;

        &::after {
            content: '';
            top: 53%;
            left: 83%;
            position: absolute;
            background-image: url('../img/list.png');
            width: 200px;
            height: 250px;
            z-index: -1;
        }
    }

    &__title {
        font-family: "NunitoSans", "Aril", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 128%;
        color: #1A1A1A;
        margin: 0px 0px 24px 0px;
    }

    &__text {
        max-width: 504px;
        margin: 0px 0px 40px 0px;
    }

    &__link {
        display: inline-block;
        padding: 18px 32px;
        min-width: 160px;
        min-height: 55px;
    }

    &__list {
        margin: 60px 0px 10px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        margin: 0px 5px 5px 0px;
    }

    &__advantages-title {
        font-family: "NunitoSans", "Arial", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 49px;
        color: #001B04;
    }

    &__advantages-sup-title {
        font-family: "DM Sans", "Arial", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 23px;
        color: #1A1A1A;
        text-align: center;
    }

    &__img-block {
        justify-self: end;
        position: relative;
        margin: 44px 30px 0px 0px;
    }

    &__img {
        width: 557px;
        height: 719px;
    }

    &__die {
        background: rgba(6, 111, 20, 0.7);
        border-radius: 4px;
        padding: 16px 27px;
        max-width: 164px;
        min-width: 151px;
        min-height: 53px;
        font-family: "DM Sans", "Arial", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 0;
        left: 0;

        &::after {
            content: '';
            top: 49%;
            left: 0;
            width: 6px;
            height: 6px;
            background-color: #F4C300;
            position: absolute;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.31);
        }
    }
}

.die-first {
    top: 72px;
    left: 440px;
    min-width: 164px;

    &::before {
        content: '';
        top: 50%;
        left: -115px;
        position: absolute;
        background-color: #519A5A;
        width: 115px;
        height: 4px;
    }

    &::after {
        left: -115px;
    }
}

.die-second {
    top: 174px;
    left: -45px;
    min-width: 158px;

    &::before {
        content: '';
        top: 50%;
        left: 150px;
        position: absolute;
        background-color: #519A5A;
        width: 95px;
        height: 4px;
    }

    &::after {
        left: 250px;
    }
}

.die-third {
    top: 554px;
    left: 445px;

    &::before {
        content: '';
        top: 50%;
        left: -72px;
        position: absolute;
        background-color: #519A5A;
        width: 72px;
        height: 4px;
    }

    &::after {
        left: -72px;
    }
}

@media (max-width: $laptop-m) {
    .banner {
        &__container {
            padding: 0px 40px 0px 40px;
        }
    }
}

@media (max-width: $laptop) {
    .banner {
        &__container {
            grid-template-columns: 30% 1fr;
        }

        &__title {
            font-size: 48px;
        }
        
        &__text-block {
            &::after {
                top: 70%;
            }
        }

        &__img {
            width: 450px;
            height: 560px;
        }
    }

    .die-first {
        left: 0;
        &::before {
            left: 150px;
        }

        &::after {
            left: 260px;
        }
    }

    .die-third {
        top: 350px;
        left: 30px;

        &::before {
            left: 150px;
        }

        &::after {
            left: 220px;
        }
    }
}

@media (max-width: $tablet) {
    .banner {
        &__container {
            grid-template-columns: 1fr;
        }

        &__text-block{
            text-align: center;
            justify-self: center;

            &::after {
                top: 50%;
            }
        }

        &__text {
            font-size: 14px;
            margin: 0px 30px 40px 30px;
        }

        &__advantages-title{
            font-size: 30px;
        }

        &__advantages-sup-title{
            font-size: 16px;
        }

        &__img-block {
            justify-self: center;
        }

        &__img {
            width: 470px;
            height: inherit;
        }
    }
}

@media (max-width: $mobile-l) {
    .banner {
        &__container {
            padding: 0px 20px 0px 20px;
        }

        &__text-block {
            &::after {
                left: 50%;
            }
        }

        &__link {
            min-width: 120px;
            min-height: 40px;
        }

        &__title {
            font-size: 36px;
        }

        &__text {
            font-size: 12px;
            margin: 0px 20px 40px 20px;
        }

        &__list {
            flex-direction: column;
        }

        &__advantages-title{
            font-size: 24px;
        }

        &__advantages-sup-title{
            font-size: 14px;
        }

        &__img {
            width: 300px;
        }

        &__die {
            position: relative;
            top: 0;
            left: 25%;
            margin: 15px 0px 0px 0px;

            &::before {
                display: none;
            }
    
            &::after {
                display: none;
            }
        }
    }
}