.collection {

    &__container {
        display: grid;
        grid-template-columns: 400px 1fr;
    }

    &__text-block {
        margin: 100px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    &__title {
        margin: 0px 0px 37px 0px;
    }

    &__link-block {
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 170px;
        height: auto;
    }

    &__link {
        font-family: "DM Sans", "Arial", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #4A4A4A;
        display: block;

        &:focus {
            border-bottom: 1px solid #1A1A1A;
        }
    }

    &__arrow {
        margin: 0px 0px 0px 9px;
    }

    &__img-block {
        margin: 100px 0px 0px 30px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        margin: 0px 10px 10px 0px;
        min-width: 219px;
        height: 207px;
        background-color: #e5e5e5;
        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
            background-color: #F6EDE8;
        }

        &:nth-child(2n) {
            background-color: #F0F1F6;
        }

        &:nth-child(3n) {
            background-color: #F6EDE8;
        }
    }

    &__img {
        width: 163px;
        height: 163px;
    }
}

@media (max-width: $laptop) {
    .collection {

        &__text-block {
            text-align: center;
        }

        &__link-block {
            margin: 0 auto;
        }

        &__list {
            align-items: center;
        }

        &__item {
            margin: 0px 0px 20px 0px;
        }
    }
}

@media (max-width: $tablet) {
    .collection {
        &__container{
            grid-template-columns: 1fr;
            grid-template-rows: min-content min-content;
        }

        &__list {
            flex-direction: column;
        }

        &__img-block {
            margin: 40px 0px 0px 0px;
        }
    }
}